<section id="service" class="pt-2">
    <div class="service w-50 h-100">
        <img width="50%" height="85%" src="assets/images/Repeat%20Grid%201.png" alt="">
    </div>
    <div class="container mt-5 pt-5">
        <div class="text-center">
            <h5 class="font-weight-bolder mt-1">NOS SERVICES</h5>
            <h6 class="section-sub-title mt-1">Nous offrons des Solutions Digitales pour augmenter Vos Performances.</h6>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="card m-3 shadow-lg border-0 h-100 shadow-nice rounded-sm">
                    <img class="card-img-top  w-50 p-3 m-auto" src="assets/images/programming.png" alt="Card image cap">
                    <div class="card-body m-0 pt-0 pb-0">
                        <h5 class="card-title text-center text-uppercase mb-4 font-weight-bold font-weight-light">
                            Web Development
                        </h5>
                        <ul class="list-group m-1">
                            <li class="list-inline pt-1">Management websites.</li>
                            <li class="list-inline pt-1">Institutional or showcase sites.</li>
                            <li class="list-inline pt-1">E-commerce sites.</li>
                            <li class="list-inline pt-1">Web tools (application websites).</li>
                            <li class="list-inline pt-1">Portfolios.</li>
                            <li class="list-inline pt-1">Blogs.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="card m-3 shadow-lg border-0 h-100 shadow-nice rounded-sm">
                    <img class="card-img-top  w-50 p-3 m-auto" src="assets/images/smartphone.png"
                         alt="Card image cap">
                    <div class="card-body m-0 pt-0">
                        <h5 class="card-title text-center text-uppercase mb-4 font-weight-bold font-weight-light">
                            Mobile Development
                        </h5>
                        <ul class="list-group m-1">
                            <li class="list-inline pt-1"> Busness APPS .</li>
                            <li class="list-inline pt-1">Educational APPS.</li>
                            <li class="list-inline pt-1"> Lifestyle APPS.</li>
                            <li class="list-inline pt-1">Entertainment APPS.</li>
                            <li class="list-inline pt-1"> Utility APPS.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 ">
                <div class="card m-3 shadow-lg border-0 h-100 shadow-nice rounded-sm">
                    <img class="card-img-top  w-50 p-3 m-auto" src="assets/images/graphic-design.png"
                         alt="Card image cap">
                    <div class="card-body m-0 pt-0">
                        <h5 class="card-title text-center text-uppercase mb-4 font-weight-bold font-weight-light">
                            Web & App design
                        </h5>
                        <ul class="list-group m-1">
                            <li class="list-inline pt-1">Graphic design.</li>
                            <li class="list-inline pt-1">Web design.</li>
                            <li class="list-inline pt-1">Mobile design.</li>
                            <li class="list-inline pt-1">UX/UI design.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
